<app-header name="Лабораторна робота 3"></app-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Скласти програму з абстрактним батьківським класом і двома об'єктами-нащадками.
        Реалізувати циклічне виведення параметрів об'єктів, використовуючи поліморфний контейнер – масив об'єктів базового класу.
        <br><br>
        <b>
          Завдання: Знайти найпотужніший прилад.
        </b>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Результати</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item 
      *ngFor="let currAppliance of appliances" class="box"
      [ngStyle]="{
        'color': isMaxPower(currAppliance) ? 'red' : 'white'
      }">
        <pre>{{currAppliance.displayInfo()}}</pre>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
