<app-header name="Лабораторна робота 2"></app-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Книги у бібліотеці</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <h2>Прострочені книги</h2>
            <ion-card *ngFor="let book of overdueBooks">
                <ion-card-header>
                  <ion-card-title>{{ book.code }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Читач: {{ book.readerId }}</p>
                  <p>Дата видачі: {{ book.getFormattedIssueDate() }}</p>
                  <p>Термін здачі: {{ book.getFormattedDueDate() }}</p>
                </ion-card-content>
            </ion-card>

            <h2>Книги вчасно</h2>
            <ion-card *ngFor="let book of onTimeBooks">
                <ion-card-header>
                    <ion-card-title>{{ book.code }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>Читач: {{ book.readerId }}</p>
                    <p>Дата видачі: {{ book.getFormattedIssueDate() }}</p>
                    <p>Термін здачі: {{ book.getFormattedDueDate() }}</p> 
                </ion-card-content>
            </ion-card>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Графік книг у читачів</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <canvas #barCanvas></canvas>
        </ion-card-content>
    </ion-card>
</ion-content>
