<app-header name="Лабораторна робота 1"></app-header>
<ion-content [fullscreen]="true">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Завдання 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        На заданому проміжку чисел [a, b] знайдіть кількість чисел, 
        кратних 2, які при діленні на 3 дають в остачі 2. 
        Виведіть самі числа та результати обчислення.
      </p>

      <ion-item>
        <ion-input label="Початкове число (a)" labelPlacement="stacked" type="number" value="1" #Inputa></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Кінцеве число (b)" labelPlacement="stacked" type="number" value="10" #Inputb></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="calculate(Inputa.value, Inputb.value)">Розрахунок</ion-button>

      <ion-item>
        <p>Знайдені числа: {{ numbers.join(', ') }}</p>
      </ion-item>
      <ion-item>
        <p>Кількість таких чисел: {{ count }}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
