<app-header name="Лабораторна робота 1"></app-header>
<ion-content [fullscreen]="true">
  <ion-card color="light">
    <ion-card-title>Завдання 3</ion-card-title>
    <ion-card-content>
      <p>
        Згенерувати матрицю розміром NxN. Виокреміть всі елементи,
        що належать непарним рядкам і менші за 50.
      </p>

      <ion-item>
        <ion-label position="floating">Розмір N</ion-label>
        <ion-input type="number" [(ngModel)]="n"></ion-input>
      </ion-item>

      <ion-button (click)="generateMatrix()">Згенерувати</ion-button>
      
      <div *ngIf="matrix.length">
        <h3>Матриця:</h3>
        <div *ngFor="let row of matrix">{{ row.join(', ') }}</div>
        <h3>Числа з непарних рядків &lt; 50:</h3>
        <p>{{ filteredNumbers.join(', ') }}</p>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>