ion-item {
    margin-bottom: 10px;
  }
  
  ion-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  