.img_formula {
    background: url('src/assets/image.png');
    height: 100px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    margin: 20px;
}